.card-body.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  .card-body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  

  .card-body {
    border-radius: 8px;
  }

  .card-body.dark .btn {
    background-color: #121212;
    color: #ffffff;
    border-color: #ffffff;
  }